.resElement {    
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px 25px;
    margin: 15px;
}
.btn-add, .btn-delete, .btn-form {
    padding: 0px 40px !important;
    margin: 10px 10px !important;
}
.eachResident {    
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px 25px 45px;
    margin: 15px;
}
.btn-search {
    padding: 0px 15px;
<<<<<<< HEAD
}
.header-request {
    padding-bottom: 30px
=======
<<<<<<< HEAD
=======
}
.header-request {
    padding-bottom: 30px
>>>>>>> 3e2547f2cf0d384ef18769796a63854499d27e03
>>>>>>> 6c99997a84b07f1e7c89e87c7685c2c0f839732b
}