.form-password {
    padding-top: 10px;
    font-size: 13px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn-confirm {
    font-size: 13px;
}

.login-form{ 
    width:320px;
    margin:20px;
<<<<<<< HEAD
=======
    margin: 50px auto;
>>>>>>> 6c99997a84b07f1e7c89e87c7685c2c0f839732b
}

.sign-up{
    text-align:center;
    padding:20px 0 0;
}

.submit-btn{
    margin-top:20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6c99997a84b07f1e7c89e87c7685c2c0f839732b
